.forgot-password {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-image: url("../images/background.webp");

	.progress-bar-container {
		display: flex;
		gap: 12px;
	}
	.progress-bar {
		width: 60px;
		height: 8px;
		border-radius: 6px;
		background-color: #ffebe5;
		&.active {
			background-color: var(--pink-color);
		}
	}
	.card-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;

		.input-container {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 8px;

			input {
				outline: none;
				border: 2px solid var(--light-grey-color);
				border-radius: 10px;
				padding: 12px;
				font-size: 14px;
			}
		}

		.input-container.otp-container {
			flex-direction: row-reverse;
			justify-content: center;
			input {
				direction: ltr;
				border-width: 1px;
				width: 52px;
				height: 52px;
				border-radius: 12px;
				font-size: 24px;
				font-weight: 600;
				text-align: center;

				-moz-appearance: textfield;
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
	}
	h1,
	a {
		color: var(--pink-color);
	}
	p {
		text-align: center;
		color: #899cb1;
		font-size: 14px;
		line-height: 24px;
	}
	label {
		color: var(--dark-grey-color);
	}
	button {
		align-self: stretch;
		padding: 14px 0;
		font-size: 14px;
	}
	@media (max-width: 540px) {
		background-image: none;
		.card {
			margin: 0;
			box-shadow: none;
			border-radius: 0;
			.card-content .input-container.otp-container input {
				border-radius: 8px;
				width: 42px;
				height: 42px;
			}
			h1 {
				font-size: 24px;
			}
		}
	}
}
