@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600;700&display=swap");

:root {
	--pink-color: #f79999;
	--dark-grey-color: #4f6271;
	--light-grey-color: #e0e5ec;
	--program-linear-gradient: linear-gradient(to left, var(--pink-color), #899cb1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Alexandria";
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Alexandria", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
