@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600;700&display=swap");

:root {
	--pink-color: #f79999;
	--dark-grey-color: #4f6271;
	--light-grey-color: #e0e5ec;
	--program-linear-gradient: linear-gradient(to left, var(--pink-color), #899cb1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Alexandria";
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Alexandria", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
	text-decoration: none;
}

.input-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

input[type="password"] {
	font-family: Verdana;
	line-height: 18px;
	letter-spacing: 0.125em;
}

svg.show-password-icon {
	position: absolute;
	left: 8px;
	bottom: 9px;
	cursor: pointer;
}

svg.show-password-icon:hover > path {
	fill: var(--dark-grey-color);
}

button {
	border: none;
	border-radius: 12px;
	padding: 21px 49px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

button:hover {
	filter: saturate(150%);
}

.btn-grey {
	box-shadow: 0 0 8px var(--dark-grey-color);
	background-color: var(--dark-grey-color);
	color: var(--pink-color);
}

.btn-pink {
	box-shadow: 0 0 8px var(--pink-color);
	background-color: var(--pink-color);
	color: var(--dark-grey-color);
}
